.carousel {
  position: relative;
  display: flex;
  transition: 1s;
  max-width: 1180px;
  width: 100vw;
}

.carousel img {
  width: 100%;
  height: auto;
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  height: 40px;
}

.button:hover {
  cursor: pointer;
}